<!-- <app-post [message]="parentMessage"></app-post>

<h2>{{ message }}</h2>

<app-navbar (eventMessage)="receiveMessage($event)"></app-navbar>

<p>{{outputMessage}}</p> -->

<!-- property binding -->

<!-- <img src="{{imgUrl}}" alt="">
<img [src]="imgUrl" alt=""> -->

<!-- class binding -->
<!-- <h1 [class.text-red]="bool">Angular</h1> -->

<!-- style binding -->
<!-- <h1 [style.color]="bool ? 'red' : 'green'">Style Binding</h1> -->

<!-- event binding -->
 <!-- <button (click)="buttonCLick()">Click</button> -->
<!-- <br> -->

 <!-- event filtering -->

 <!-- <input type="text" (keyup.enter)="onKeyUp($event)"> -->

 <!-- Two way data binding -->

 <!-- <input type="text" [(ngModel)]="userName" (keyup.enter)="onKeyUpForNgModel()"/> -->

<!-- Challenge -->

 <!-- <div class="center">
    <h1>Post Form</h1>
    <input type="text" placeholder="Post title" [(ngModel)]="title" ><br><br>
    <textarea placeholder="Post Details" rows="12" cols="35" [(ngModel)]="details" ></textarea><br><br>
    <input type="text" placeholder="Post Image Url" [(ngModel)]="imageUrl" ><br><br>
    <input type="text" placeholder="Post Url" [(ngModel)]="postUrl" ><br><br>
    <input type="checkbox" [(ngModel)]="addBackground" id="chk">
    <label for="chk">Add Background</label>
    <h1 ><span [class.backGroundColor]="addBackground">{{title}}</span></h1>
    <p>{{details}}</p>
    <img [src]="imageUrl" alt=""><br>
    <a [href]="postUrl" [style.display]="postUrl ? 'block' : 'none'"  target="_blank">More Details</a>
  </div>
   -->

   <!-- Directives practise -->

   <!-- With String Array -->
<!-- <ul >
    <li *ngFor="let post of postArray">{{post}}</li>
</ul> -->


<!-- <button (click)="addData()">Add new Data </button> -->
<!-- With Object Array -->

<!-- <div *ngIf="objArray.length > 0; else noData">
<ul>
    <li *ngFor="let post of objArray; let i = index;">{{i}}---{{ post | json}} <button (click)="delData(i)">Delete</button></li>
  </ul>
</div>

<ng-template #noData>
    <h3>No Data to show</h3>
</ng-template> -->


<!-- Switch Directive -->
<!-- <div>
<button (click)="onClick('step 1')">Step 1</button>
<button (click)="onClick('step 2')">Step 2</button>
<button (click)="onClick('step 3')">Step 3</button>
</div>

<div [ngSwitch]="stepForm">
<div *ngSwitchCase="'step 1'">Step 1 Form</div>
<div *ngSwitchCase="'step 2'">Step 2 Form</div>
<div *ngSwitchCase="'step 3'">Step 3 Form</div>
<div *ngSwitchDefault>Something Else</div>
</div> -->


<!-- NgStyle Directive -->

<!-- <h1 [ngStyle]="{
    color : isActive ? 'red' : 'black',
    textTransform : isActive ? 'uppercase' : 'lowecase'
}">NgStyle Directive</h1> -->



<!-- NgClass Directive -->

<!-- <h1 [ngClass]="{
    'colorRed' : isActive,
    'uppercase' : isActive
}"
>NgClass Directive</h1> -->


<!-- Directives Challenge Solution -->

<!-- <div class="center">
    <h1>User Details</h1><br><br>
<input type="text" placeholder="enter name" [(ngModel)]= "name"><br><br>
<input type="email" placeholder="enter email" [(ngModel)]= "email"><br><br>
<textarea placeholder="enter address" rows="10" cols="30" [(ngModel)]= "address"></textarea><br><br>
<button (click)="addData()">Save Data</button>
</div>
<div class="center">
    <table class="table"  [cellSpacing]="40">
        <tr >
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let data of dataArray; let i = index;" >
            <td>{{i+1}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.address}}</td>
            <td><button (click)="delData(i)">Delete</button></td>
        </tr>
    </table>
</div> -->

<!-- Angular builtIn Pipes -->

<!-- <h1>{{title | uppercase}}</h1>
<h1>{{count | number}}</h1>
<h1>{{dcValue | number : '3.1-1'}}</h1>
<h1>{{money | currency : 'EUR'}}</h1>
<h1>{{today | date : 'shortDate'}}</h1>
<h1>{{postObj | json}}</h1>
 <h1>{{0.89 | percent : '1.1-1'}}</h1>  it multiplies by 100
 <h1>{{postArray | slice : 1:5}}</h1> -->

<!-- Custom Pipes -->
<!-- <h1>{{userDetails.city | append}}</h1>
<h1>{{userDetails.city | appendCLI}}</h1> -->


<!-- <p>{{dummyText | summary : 50}}</p> -->

<!-- creating services (manually) -->

<!-- <app-post></app-post> -->

<!-- <app-post-list></app-post-list>  -->