<!-- <app-post [message]="parentMessage"></app-post>

<h2>{{ message }}</h2>

<app-navbar (eventMessage)="receiveMessage($event)"></app-navbar>

<p>{{outputMessage}}</p> -->

<!-- property binding -->

<!-- <img src="{{imgUrl}}" alt="">
<img [src]="imgUrl" alt=""> -->

<!-- class binding -->
<!-- <h1 [class.text-red]="bool">Angular</h1> -->

<!-- style binding -->
<!-- <h1 [style.color]="bool ? 'red' : 'green'">Style Binding</h1> -->

<!-- event binding -->
<!-- <button (click)="buttonCLick()">Click</button> -->
<!-- <br> -->

<!-- event filtering -->

<!-- <input type="text" (keyup.enter)="onKeyUp($event)"> -->

<!-- Two way data binding -->

<!-- <input type="text" [(ngModel)]="userName" (keyup.enter)="onKeyUpForNgModel()"/> -->

<!-- Challenge -->

<!-- <div class="center">
    <h1>Post Form</h1>
    <input type="text" placeholder="Post title" [(ngModel)]="title" ><br><br>
    <textarea placeholder="Post Details" rows="12" cols="35" [(ngModel)]="details" ></textarea><br><br>
    <input type="text" placeholder="Post Image Url" [(ngModel)]="imageUrl" ><br><br>
    <input type="text" placeholder="Post Url" [(ngModel)]="postUrl" ><br><br>
    <input type="checkbox" [(ngModel)]="addBackground" id="chk">
    <label for="chk">Add Background</label>
    <h1 ><span [class.backGroundColor]="addBackground">{{title}}</span></h1>
    <p>{{details}}</p>
    <img [src]="imageUrl" alt=""><br>
    <a [href]="postUrl" [style.display]="postUrl ? 'block' : 'none'"  target="_blank">More Details</a>
  </div>
   -->

<!-- Directives practise -->

<!-- With String Array -->
<!-- <ul >
    <li *ngFor="let post of postArray">{{post}}</li>
</ul> -->

<!-- <button (click)="addData()">Add new Data </button> -->
<!-- With Object Array -->

<!-- <div *ngIf="objArray.length > 0; else noData">
<ul>
    <li *ngFor="let post of objArray; let i = index;">{{i}}---{{ post | json}} <button (click)="delData(i)">Delete</button></li>
  </ul>
</div>

<ng-template #noData>
    <h3>No Data to show</h3>
</ng-template> -->

<!-- Switch Directive -->
<!-- <div>
<button (click)="onClick('step 1')">Step 1</button>
<button (click)="onClick('step 2')">Step 2</button>
<button (click)="onClick('step 3')">Step 3</button>
</div>

<div [ngSwitch]="stepForm">
<div *ngSwitchCase="'step 1'">Step 1 Form</div>
<div *ngSwitchCase="'step 2'">Step 2 Form</div>
<div *ngSwitchCase="'step 3'">Step 3 Form</div>
<div *ngSwitchDefault>Something Else</div>
</div> -->

<!-- NgStyle Directive -->

<!-- <h1 [ngStyle]="{
    color : isActive ? 'red' : 'black',
    textTransform : isActive ? 'uppercase' : 'lowecase'
}">NgStyle Directive</h1> -->

<!-- NgClass Directive -->

<!-- <h1 [ngClass]="{
    'colorRed' : isActive,
    'uppercase' : isActive
}"
>NgClass Directive</h1> -->

<!-- Directives Challenge Solution -->

<!-- <div class="center">
    <h1>User Details</h1><br><br>
<input type="text" placeholder="enter name" [(ngModel)]= "name"><br><br>
<input type="email" placeholder="enter email" [(ngModel)]= "email"><br><br>
<textarea placeholder="enter address" rows="10" cols="30" [(ngModel)]= "address"></textarea><br><br>
<button (click)="addData()">Save Data</button>
</div>
<div class="center">
    <table class="table"  [cellSpacing]="40">
        <tr >
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let data of dataArray; let i = index;" >
            <td>{{i+1}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.address}}</td>
            <td><button (click)="delData(i)">Delete</button></td>
        </tr>
    </table>
</div> -->

<!-- Angular builtIn Pipes -->

<!-- <h1>{{title | uppercase}}</h1>
<h1>{{count | number}}</h1>
<h1>{{dcValue | number : '3.1-1'}}</h1>
<h1>{{money | currency : 'EUR'}}</h1>
<h1>{{today | date : 'shortDate'}}</h1>
<h1>{{postObj | json}}</h1>
 <h1>{{0.89 | percent : '1.1-1'}}</h1>  it multiplies by 100
 <h1>{{postArray | slice : 1:5}}</h1> -->

<!-- Custom Pipes -->
<!-- <h1>{{userDetails.city | append}}</h1>
<h1>{{userDetails.city | appendCLI}}</h1> -->

<!-- <p>{{dummyText | summary : 50}}</p> -->

<!-- creating services (manually) -->

<!-- <app-post></app-post> -->

<!-- <app-post-list></app-post-list>  -->



<!-- Working with template-driven forms -->

<!-- 
<div class="container mt-5">
  <h1>Template Driven forms</h1>
  <div class="form-area">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label>Full Name</label>
        <input
          type="text"
          placeholder="Enter full name"
          class="form-control"
          name="fullName"
          ngModel
          #fullName="ngModel"
          (ngModelChange)="getValue(fullName)"
          required
          minlength="5"
          [ngClass]="{ 'is-invalid': fullName.touched && fullName.invalid }"
        />
        <div *ngIf="fullName?.errors?.['required']">
          <div
            class="alert alert-danger"
            *ngIf="fullName.touched && fullName.invalid"
          >
            Full Name is required
          </div>
        </div>

        <div *ngIf="fullName?.errors?.['minlength']">
          <div
            class="alert alert-danger"
            *ngIf="fullName.touched && fullName.invalid"
          >
            Full Name must be 5 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          placeholder="Enter email"
          class="form-control"
          name="email"
          ngModel
          #email="ngModel"
          pattern="[a-zA-Z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
          required
          [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
        />

        <div *ngIf="email?.errors?.['required']">
          <div
            class="alert alert-danger"
            *ngIf="email.touched && fullName.invalid"
          >
            Email is required
          </div>
        </div>

        <div *ngIf="email?.errors?.['pattern']">
          <div
            class="alert alert-danger"
            *ngIf="email.touched && fullName.invalid"
          >
            Invalid Email
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <textarea
          placeholder="Enter Address"
          rows="10"
          cols="20"
          class="form-control"
          name="address"
          ngModel
          #address="ngModel"
          required
          [ngClass]="{ 'is-invalid': address.touched && address.invalid }"
        ></textarea>
        <div *ngIf="address?.errors?.['required']">
          <div
            class="alert alert-danger"
            *ngIf="address.touched && fullName.invalid"
          >
            Address is required
          </div>
        </div>
      </div>
      <div class="mt-2">
        <button type="submit" [disabled]="f.invalid" class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
  </div>
</div> -->


<!-- Working with Reactive forms -->



<div class="container mt-5">
  <h1>Reactive Forms</h1>
  <div class="form-area">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Full Name</label>
        <input
          type="text"
          placeholder="Enter full name"
          class="form-control"
          formControlName="fullName"
        />
        <div *ngIf="fullName?.touched && fullName?.invalid">
          <div class="alert alert-danger" *ngIf="fullName?.errors?.['required']">
            Full Name is required
          </div>
          <div class="alert alert-danger" *ngIf="fullName?.errors?.['minlength']">
            Minimum length should be 5
          </div>
        </div>
      </div>
    
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          placeholder="Enter email"
          class="form-control"
          formControlName="email"
        />
        <div *ngIf="email?.touched && email?.invalid">
          <div class="alert alert-danger" *ngIf="email?.errors?.['required']">
            Email is required
          </div>
          <div class="alert alert-danger" *ngIf="email?.errors?.['pattern']">
            Invalid Email
          </div>
        </div>
      </div>
    
      <!-- Nested FormGroup -->
      <div formGroupName="contactDetails">
        <div class="form-group">
          <label>Address</label>
          <textarea
            placeholder="Enter Address"
            rows="10"
            cols="20"
            class="form-control"
            formControlName="address"
          ></textarea>
          <div *ngIf="address?.touched && address?.invalid">
            <div class="alert alert-danger" *ngIf="address?.errors?.['required']">
              Address is required
            </div>
          </div>
        </div>
    
        <div class="form-group">
          <label>Shipping Address</label>
          <input
            type="text"
            placeholder="Enter shipping address"
            class="form-control"
            formControlName="shippingAddress"
          />
          <div *ngIf="shippingAddress?.touched && shippingAddress?.invalid">
            <div class="alert alert-danger" *ngIf="shippingAddress?.errors?.['required']">
              Shipping Address is required
            </div>
          </div>
        </div>
    
        <div class="form-group">
          <label>Contact No.</label>
          <input
            type="number"
            placeholder="Enter Contact number"
            class="form-control"
            formControlName="contactNo"
          />
          <div *ngIf="contactNo?.touched && contactNo?.invalid">
            <div class="alert alert-danger" *ngIf="contactNo?.errors?.['required']">
              Contact No is required
            </div>
            <div class="alert alert-danger" *ngIf="contactNo?.errors?.['pattern']">
              Invalid Contact
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="skills">Skills</label>
        <input
          type="text"
          placeholder="Enter skills"
          class="form-control"
          #skill
          (keyup.enter)="addSkills(skill)"
        />
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let skill of skills.controls; let i = index">
            {{skill.value}}
            <a class="btn btn-sm btn-danger" (click)="removeSkills(i)">X</a>
          </li>
        </ul>
      </div>
    
      <div class="mt-2">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
          Submit
        </button>
      </div>
    </form>
    
    
  </div>
</div>
